workflows/leverage-bootstrap-workflow.json
{
  "id": "KOJmzKxRR0T3l6eF",
  "name": "Leverage \u2014 index bootstrap (run once)",
  "nodes": [
    {
      "parameters": {},
      "id": "189c94b1-b02c-4e8c-b5ac-6e9db8042731",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Bootstrap index\n\nRun after deploy or n8n restart. Loads issues + top PRs from leverage_docs.json (~440 docs).",
        "height": 180,
        "width": 400,
        "color": 3
      },
      "id": "5dc3fe3f-9f3b-4fab-b111-ffd100ee09bc",
      "name": "About",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/home/node/.n8n-files/leverage_docs.json",
        "options": {}
      },
      "id": "5a6bd83a-f78e-4b14-be09-279d1ce950d5",
      "name": "Read documents file",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        20,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binKey = Object.keys(item.binary || {})[0] || 'data';\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binKey);\nconst docs = JSON.parse(buffer.toString('utf8'));\nreturn docs.map((d) => ({ json: { text: d.pageContent, metadata: d.metadata } }));"
      },
      "id": "84a8e1e8-9eaf-42af-98a1-4ea2d94f6a07",
      "name": "Parse documents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest",
        "options": {}
      },
      "id": "cb7886d0-e938-4294-90c0-2d663fb5384f",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        240,
        180
      ],
      "credentials": {
        "ollamaApi": {
          "id": "vusS7V4DCAGU85B6",
          "name": "Ollama (docker bridge)"
        }
      }
    },
    {
      "parameters": {
        "dataType": "json",
        "jsonMode": "allInputData",
        "textSplittingMode": "simple",
        "options": {}
      },
      "id": "3be4904a-39cc-433f-96a7-b7c015303b22",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        240,
        -80
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "leverage_issues"
        },
        "clearStore": true
      },
      "id": "cce45e11-eaee-4b6c-9ae3-b93ad4749870",
      "name": "Issue Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        480,
        0
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read documents file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read documents file": {
      "main": [
        [
          {
            "node": "Parse documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse documents": {
      "main": [
        [
          {
            "node": "Issue Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Issue Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Issue Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
