workflows/leverage-bootstrap-workflow.json
{
  "id": "KOJmzKxRR0T3l6eF",
  "name": "Leverage \u2014 index bootstrap (run once)",
  "nodes": [
    {
      "parameters": {},
      "id": "deb39af0-a4b7-4778-94fd-b07eaa0ff748",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -200,
        0
      ]
    },
    {
      "parameters": {
        "content": "## Bootstrap index\n\nRun after deploy or n8n restart. Loads issues + top PRs from leverage_docs.json (~440 docs).",
        "height": 180,
        "width": 400,
        "color": 3
      },
      "id": "3b1318cf-25b0-4e5e-8faf-59e301044000",
      "name": "About",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        -200
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/home/node/.n8n-files/leverage_docs.json",
        "options": {}
      },
      "id": "316b9763-710c-4361-9902-49b91bf6710f",
      "name": "Read documents file",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        20,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst binKey = Object.keys(item.binary || {})[0] || 'data';\nconst buffer = await this.helpers.getBinaryDataBuffer(0, binKey);\nconst docs = JSON.parse(buffer.toString('utf8'));\nreturn docs.map((d) => ({ json: { text: d.pageContent, metadata: d.metadata } }));"
      },
      "id": "2a62565f-7636-4ef6-9ba6-2d456ce6df18",
      "name": "Parse documents",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ]
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest",
        "options": {}
      },
      "id": "cac44a22-3928-4057-aab4-88ffceec39e8",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        240,
        180
      ],
      "credentials": {
        "ollamaApi": {
          "id": "vusS7V4DCAGU85B6",
          "name": "Ollama (docker bridge)"
        }
      }
    },
    {
      "parameters": {
        "dataType": "json",
        "jsonMode": "allInputData",
        "textSplittingMode": "simple",
        "options": {}
      },
      "id": "de8f70f4-5cfb-407a-b89f-74ba66f27c47",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        240,
        -80
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "leverage_issues"
        },
        "clearStore": true
      },
      "id": "f2b454ee-8718-41d3-a7f3-90b99a00df89",
      "name": "Issue Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        480,
        0
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read documents file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read documents file": {
      "main": [
        [
          {
            "node": "Parse documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse documents": {
      "main": [
        [
          {
            "node": "Issue Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Issue Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Issue Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
