workflows/leverage-pr-ranking-tool-workflow.json
{
  "id": "ErItT8BHutyTa0rf",
  "name": "Leverage \u2014 top PRs tool",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "d2e993ba-74f4-499e-894d-6e8bfd03ce2a",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "oDeIzAGk6lMrJeY4",
          "cachedResultName": "leverage_prs"
        },
        "returnAll": true
      },
      "id": "8d39131a-edde-4287-bd6d-47e77c737d07",
      "name": "Get PR rows",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((i) => i.json);\nrows.sort((a, b) => (b.leverage ?? 0) - (a.leverage ?? 0));\nconst top = rows.slice(0, 15);\nconst md = top\n  .map((r) => `\u2022 [PR] #${r.number} (leverage ${r.leverage}, \ud83d\udcac${r.comments}, @${r.author || 'unknown'})\\n  ${r.title}\\n  ${r.url}`)\n  .join('\\n\\n');\nreturn [{ json: { response: `Top ${top.length} community PRs to review:\\n\\n${md}` } }];"
      },
      "id": "06b482eb-bc23-4db4-9c29-fa2a7c4e2ae3",
      "name": "Format PRs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get PR rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PR rows": {
      "main": [
        [
          {
            "node": "Format PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}