workflows/leverage-deep-dive-workflow.json
{
  "id": "KjC9Bq8HnsxwyRpg",
  "name": "Leverage \u2014 issue deep dive tool",
  "nodes": [
    {
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "issue_number",
              "type": "number"
            }
          ]
        }
      },
      "id": "5ce863b7-5a7e-495b-ad78-187888ce67bc",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "n8n-io",
          "cachedResultName": "n8n-io"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "n8n",
          "cachedResultName": "n8n"
        },
        "issueNumber": "={{ $json.issue_number }}"
      },
      "id": "50d3ea9a-7a6e-449a-8c66-e98b7a945df3",
      "name": "GitHub Get Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "credentials": {
        "githubApi": {
          "id": "",
          "name": "GitHub (guillaume-flambard)"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "webhookId": "80f1f44b-231c-42a9-ba1b-93f27ca5dad1"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.github.com/repos/n8n-io/n8n/issues/' + $('Execute Workflow Trigger').first().json.issue_number + '/comments?per_page=100' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "1ffd91fd-72aa-4f68-ab74-3d7583fc0600",
      "name": "GitHub comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "credentials": {
        "githubApi": {
          "id": "",
          "name": "GitHub (guillaume-flambard)"
        }
      },
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const issueNumber = $('Execute Workflow Trigger').first().json.issue_number;\nif (!issueNumber) {\n  return [{ json: { response: 'Provide a GitHub issue number (e.g. 14361).' } }];\n}\nconst issue = $('GitHub Get Issue').first().json;\nconst commentsRaw = $input.all().map((i) => i.json).flatMap((r) => (Array.isArray(r) ? r : [r]));\nconst skip = new Set(['dependabot[bot]', 'n8n-io[bot]', 'github-actions[bot]']);\nconst comments = commentsRaw.filter((c) => c?.body && !skip.has(c.user?.login)).slice(0, 30);\nconst thread = comments.map((c) =>\n  `@${c.user?.login} (${c.author_association}): ${(c.body || '').replace(/\\s+/g, ' ').slice(0, 500)}`\n).join('\\n');\nconst labels = (issue.labels || []).map((l) => l.name).join(', ');\nconst mcpHint = /\\bmcp\\b/i.test((issue.title || '') + (issue.body || ''))\n  ? 'Verified MCP entry points: packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/McpTrigger.node.ts and McpServer.ts. Compare Webhook.node.ts for request metadata exposure.'\n  : '';\nconst synthPrompt = `You are a senior n8n maintainer. Summarize this GitHub issue thread for a contributor.\n\nIssue #${issueNumber}: ${issue.title}\nLabels: ${labels}\nBody: ${(issue.body || '').slice(0, 800)}\n\nComments (${comments.length}):\n${thread}\n\nWrite Markdown with EXACTLY:\n## Thread summary\n## Maintainer signals\n\nBe factual. Under 200 words.`;\nconst synth = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://10.0.0.4:11434/api/generate',\n  body: { model: 'llama3.2:3b', prompt: synthPrompt, stream: false, options: { temperature: 0.2, num_ctx: 8192 } },\n  json: true,\n});\nconst proposePrompt = `Based on this issue synthesis, propose a contributor approach for n8n (Node.js/TypeScript workflow automation).\n\n${synth.response}\n${mcpHint ? '\\nKnown code entry points:\\n' + mcpHint : ''}\n\nWrite Markdown with EXACTLY:\n## Proposed approach\n## Scope (S/M/L)\n## Good first issue (yes/no)\n## Risks\n\nHypotheses only \u2014 admit uncertainty. Under 200 words.`;\nconst prop = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://10.0.0.4:11434/api/generate',\n  body: { model: 'llama3.2:3b', prompt: proposePrompt, stream: false, options: { temperature: 0.2, num_ctx: 8192 } },\n  json: true,\n});\nconst url = issue.html_url || `https://github.com/n8n-io/n8n/issues/${issueNumber}`;\nreturn [{\n  json: {\n    response: `# Deep dive #${issueNumber}\\n\\n${url}\\n\\n${synth.response}\\n\\n---\\n\\n${prop.response}`,\n  },\n}];"
      },
      "id": "36b6dd4c-28ba-4804-b6b8-091fe6e9fa57",
      "name": "Synthesize and propose",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "GitHub Get Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub Get Issue": {
      "main": [
        [
          {
            "node": "GitHub comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub comments": {
      "main": [
        [
          {
            "node": "Synthesize and propose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}