workflows/leverage-code-scout-workflow.json
{
  "id": "hnt00MJVcSNedoZf",
  "name": "Leverage \u2014 code scout tool",
  "nodes": [
    {
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "search_query",
              "type": "string"
            }
          ]
        }
      },
      "id": "c603042a-ddba-40e2-ae02-2113c49136de",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.github.com/search/code?q=' + encodeURIComponent('repo:n8n-io/n8n ' + $('Execute Workflow Trigger').first().json.search_query) + '&per_page=10' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "225bd44a-962f-4f43-b80d-601dca5ed922",
      "name": "Search code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "githubApi": {
          "id": "",
          "name": "GitHub (guillaume-flambard)"
        }
      },
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const search = $('Execute Workflow Trigger').first().json.search_query;\nif (!search) {\n  return [{ json: { response: 'Provide a search term (e.g. McpTrigger or AI Agent memory).' } }];\n}\nconst res = $input.first().json;\nconst items = (res.items || []).filter((x) => x.path);\nif (!items.length) {\n  return [{ json: { response: `No code matches for \"${search}\" in n8n-io/n8n.` } }];\n}\nconst md = items.slice(0, 8).map((f) => {\n  const url = f.html_url || `https://github.com/n8n-io/n8n/blob/master/${f.path}`;\n  return `\u2022 ${f.path} \u2014 ${url}`;\n}).join('\\n');\nreturn [{\n  json: {\n    response: `Code scout (read-only) for \"${search}\" in n8n-io/n8n:\\n\\n${md}\\n\\n_Use these paths as hypotheses \u2014 verify before patching._`,\n  },\n}];"
      },
      "id": "4bc4579b-5c5d-4f93-b500-bf157fa63100",
      "name": "Format results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Search code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search code": {
      "main": [
        [
          {
            "node": "Format results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v2"
  }
}