workflows/leverage-pr-ranking-tool-workflow.json
{
  "id": "ErItT8BHutyTa0rf",
  "name": "Leverage \u2014 top PRs tool",
  "nodes": [
    {
      "parameters": {},
      "id": "bf7d1151-f9e7-4706-82bb-d8c8fa292754",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "oDeIzAGk6lMrJeY4",
          "cachedResultName": "leverage_prs"
        },
        "returnAll": true
      },
      "id": "e3884d85-1035-4d74-b9df-92b1d73372b6",
      "name": "Get PR rows",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((i) => i.json);\nrows.sort((a, b) => (b.leverage ?? 0) - (a.leverage ?? 0));\nconst top = rows.slice(0, 15);\nconst md = top\n  .map((r) => `\u2022 [PR] #${r.number} (leverage ${r.leverage}, \ud83d\udcac${r.comments}, @${r.author || 'unknown'})\\n  ${r.title}\\n  ${r.url}`)\n  .join('\\n\\n');\nreturn [{ json: { response: `Top ${top.length} community PRs to review:\\n\\n${md}` } }];"
      },
      "id": "9d9d06be-fcd4-420d-b722-5baf38c1cf40",
      "name": "Format PRs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get PR rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PR rows": {
      "main": [
        [
          {
            "node": "Format PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
