workflows/leverage-fetch-comments-workflow.json
{
  "id": "8vGd2e5vuyAi0u0V",
  "name": "Leverage \u2014 fetch comments tool",
  "nodes": [
    {
      "parameters": {},
      "id": "f1195915-8560-45bf-85b7-207ac6587a0b",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst text = String(raw.query ?? raw.chatInput ?? raw.issue_number ?? raw.input ?? '').trim();\nconst m = text.match(/#?(\\d{3,6})/);\nif (!m) {\n  return [{ json: { issueNumber: null, response: 'Provide an issue number (e.g. 14361 or #14361).' } }];\n}\nreturn [{ json: { issueNumber: parseInt(m[1], 10) } }];"
      },
      "id": "ba1dfe8c-fb20-40c8-84c0-292795eb9fad",
      "name": "Parse input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse input').first().json;\nif (!parsed.issueNumber) {\n  return [{ json: { response: parsed.response } }];\n}\nconst issueNumber = parsed.issueNumber;\nconst raw = await this.helpers.httpRequestWithAuthentication.call(this, 'githubApi', {\n  method: 'GET',\n  url: `https://api.github.com/repos/n8n-io/n8n/issues/${issueNumber}/comments?per_page=100`,\n  json: true,\n});\nconst skip = new Set(['dependabot[bot]', 'n8n-io[bot]', 'github-actions[bot]']);\nconst comments = (Array.isArray(raw) ? raw : []).filter((c) => c.body && !skip.has(c.user?.login)).slice(0, 30);\nif (!comments.length) {\n  return [{ json: { response: `No comments found for #${issueNumber}.` } }];\n}\nconst lines = comments.map((c) => {\n  const who = c.user?.login ?? 'unknown';\n  const assoc = c.author_association ?? '';\n  const body = (c.body ?? '').replace(/\\s+/g, ' ').slice(0, 600);\n  return `**@${who}** (${assoc}): ${body}`;\n});\nreturn [{\n  json: {\n    response: `# Comments on #${issueNumber} (${comments.length} shown, newest last)\\n\\n${lines.join('\\n\\n')}`,\n  },\n}];"
      },
      "id": "d096206e-451d-4033-a0db-6a6c57a29136",
      "name": "Fetch comments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse input": {
      "main": [
        [
          {
            "node": "Fetch comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
