workflows/leverage-pr-ranking-tool-workflow.json
{
  "id": "ErItT8BHutyTa0rf",
  "name": "Leverage \u2014 top PRs tool",
  "nodes": [
    {
      "parameters": {},
      "id": "113c898e-c676-4210-931f-2218b8933afd",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "rows",
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "oDeIzAGk6lMrJeY4",
          "cachedResultName": "leverage_prs"
        },
        "returnAll": true
      },
      "id": "20d3e053-b9dc-4dea-bd99-66f4d45386fa",
      "name": "Get PR rows",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map((i) => i.json);\nrows.sort((a, b) => (b.leverage ?? 0) - (a.leverage ?? 0));\nconst top = rows.slice(0, 15);\nconst md = top\n  .map((r) => `\u2022 [PR] #${r.number} (leverage ${r.leverage}, \ud83d\udcac${r.comments}, @${r.author || 'unknown'})\\n  ${r.title}\\n  ${r.url}`)\n  .join('\\n\\n');\nreturn [{ json: { response: `Top ${top.length} community PRs to review:\\n\\n${md}` } }];"
      },
      "id": "1386fea2-f988-4afe-a86c-a0b03201acb9",
      "name": "Format PRs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get PR rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get PR rows": {
      "main": [
        [
          {
            "node": "Format PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
