workflows/leverage-fetch-comments-workflow.json
{
  "id": "8vGd2e5vuyAi0u0V",
  "name": "Leverage \u2014 fetch comments tool",
  "nodes": [
    {
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "issue_number",
              "type": "number"
            }
          ]
        }
      },
      "id": "5d7b45a7-73b8-4fc6-a9c8-f382aac1e017",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.github.com/repos/n8n-io/n8n/issues/' + $('Execute Workflow Trigger').first().json.issue_number + '/comments?per_page=100' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "754db55d-d9d1-4b5b-88a6-49b564e42944",
      "name": "GitHub comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "githubApi": {
          "id": "",
          "name": "GitHub (guillaume-flambard)"
        }
      },
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const issueNumber = $('Execute Workflow Trigger').first().json.issue_number;\nif (!issueNumber) {\n  return [{ json: { response: 'Provide a GitHub issue number (e.g. 14361).' } }];\n}\nconst rows = $input.all().map((i) => i.json);\nconst flat = rows.flatMap((r) => (Array.isArray(r) ? r : [r]));\nconst skip = new Set(['dependabot[bot]', 'n8n-io[bot]', 'github-actions[bot]']);\nconst comments = flat.filter((c) => c?.body && !skip.has(c.user?.login)).slice(0, 30);\nif (!comments.length) {\n  return [{ json: { response: `No comments found for #${issueNumber}.` } }];\n}\nconst lines = comments.map((c) => {\n  const who = c.user?.login ?? 'unknown';\n  const assoc = c.author_association ?? '';\n  const body = (c.body ?? '').replace(/\\s+/g, ' ').slice(0, 600);\n  return `**@${who}** (${assoc}): ${body}`;\n});\nreturn [{\n  json: {\n    response: `# Comments on #${issueNumber} (${comments.length} shown, newest last)\\n\\n${lines.join('\\n\\n')}`,\n  },\n}];"
      },
      "id": "bcc424f2-dab1-44d3-90cf-7bd160f4d9b9",
      "name": "Format comments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "GitHub comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub comments": {
      "main": [
        [
          {
            "node": "Format comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v2"
  }
}