workflows/leverage-issue-linker-workflow.json
{
  "id": "wzKasDRdfp8VgUI7",
  "name": "Leverage \u2014 issue PR linker tool",
  "nodes": [
    {
      "parameters": {
        "inputSource": "workflowInputs",
        "workflowInputs": {
          "values": [
            {
              "name": "issue_number",
              "type": "number"
            }
          ]
        }
      },
      "id": "e1a5f0b5-2ca5-4ba6-8e25-991105acef49",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.github.com/search/issues?q=' + encodeURIComponent('repo:n8n-io/n8n type:pr ' + $('Execute Workflow Trigger').first().json.issue_number + ' in:body') + '&per_page=15' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "options": {}
      },
      "id": "6db12970-728f-4ee0-b10c-4add7001ba66",
      "name": "Search linked PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        0
      ],
      "credentials": {
        "githubApi": {
          "id": "",
          "name": "GitHub (guillaume-flambard)"
        }
      },
      "retryOnFail": true,
      "maxTries": 3
    },
    {
      "parameters": {
        "jsCode": "const issueNumber = $('Execute Workflow Trigger').first().json.issue_number;\nif (!issueNumber) {\n  return [{ json: { response: 'Provide a GitHub issue number (e.g. 14361).' } }];\n}\nconst res = $input.first().json;\nconst items = (res.items || []).filter((x) => x.number);\nif (!items.length) {\n  return [{ json: { response: `No open PRs found linking to #${issueNumber}. Try searching manually on GitHub.` } }];\n}\nconst md = items.slice(0, 10).map((p) => {\n  const url = p.html_url || `https://github.com/n8n-io/n8n/pull/${p.number}`;\n  return `\u2022 [#${p.number}](${url}) ${p.state || 'open'} \u2014 ${p.title}\\n  by @${p.user?.login ?? 'unknown'}`;\n}).join('\\n\\n');\nreturn [{ json: { response: `Open PRs potentially linked to #${issueNumber}:\\n\\n${md}` } }];"
      },
      "id": "c0ecc085-66d3-45a8-a929-f6e216f67108",
      "name": "Format PRs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Search linked PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search linked PRs": {
      "main": [
        [
          {
            "node": "Format PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}