workflows/leverage-copilot-workflow.json
{
  "id": "XtV6NerjQnYPtXgz",
  "name": "Leverage Copilot \u2014 ask the backlog",
  "nodes": [
    {
      "parameters": {
        "content": "## Leverage Copilot\n\nChat with the **live n8n community backlog**. Uses Simple Vector Store (427 issues) + daily top-25 ranking Data Table.\n\n**Demo questions:**\n- Why is #14361 ranked first?\n- What MCP issues hurt most?\n- Suggest a good-first-issue on AI Agent memory.",
        "height": 220,
        "width": 460,
        "color": 4
      },
      "id": "78e72438-fdea-4fab-a994-43e75ea419bd",
      "name": "About",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        340,
        -240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4535adf0-1eb0-4e69-91d1-1465848be39f",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "af0e64c2-598e-45f2-b430-318285d3b4e4"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the n8n Community Leverage Copilot \u2014 an assistant for maintainers and contributors triaging the n8n-io/n8n open backlog.\n\nYou have two tools:\n1. **issue_search** \u2014 semantic search across ~427 open issues (titles, descriptions, labels, leverage scores).\n2. **top_ranking** \u2014 the live top-25 issues by leverage score (updated daily at 08:00 Europe/Paris).\n\nWhen answering:\n- Cite GitHub issue numbers and URLs.\n- Mention leverage score when relevant (higher = more community impact).\n- For contributor questions, suggest a concrete scope and whether it looks like a good-first-issue.\n- Top pain theme right now: **AI Agent / tool / memory** (e.g. #14361).\n- Be concise. Prefer bullet points for lists.\n\nIf the vector index was recently cleared, tell the user to run the \"Leverage \u2014 index bootstrap\" workflow once."
        }
      },
      "id": "fa70d034-26cc-49c8-8a72-664060063308",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.3,
      "position": [
        280,
        0
      ]
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 8
      },
      "id": "25b8a0cf-847b-47bf-a7fa-fdbb2b9e4da5",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        200
      ]
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "bca2c51a-b90f-403e-8116-547eff0a457f",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        200
      ],
      "credentials": {
        "ollamaApi": {
          "id": "vusS7V4DCAGU85B6",
          "name": "Ollama (docker bridge)"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest",
        "options": {}
      },
      "id": "fa558480-9b51-43f6-ae10-5af7a0d47ddd",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        520,
        320
      ],
      "credentials": {
        "ollamaApi": {
          "id": "vusS7V4DCAGU85B6",
          "name": "Ollama (docker bridge)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "issue_search",
        "toolDescription": "Semantic search over n8n open GitHub issues. Use for themes (MCP, AI Agent, webhooks), similar issues, or problem descriptions.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "leverage_issues"
        },
        "topK": 8
      },
      "id": "aabe10a2-3fdb-48ed-9d01-3ca0cc7bf125",
      "name": "Issue search",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        520,
        120
      ]
    },
    {
      "parameters": {
        "name": "top_ranking",
        "description": "Get the current top-25 n8n open issues ranked by leverage score (reach \u00d7 severity \u00d7 recency). Use when asked what to fix first or for the daily ranking.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "s2bX3oDLRPUamt0M"
        }
      },
      "id": "5670ea7f-e0bf-4fbb-917c-12edd1277c4f",
      "name": "Top ranking",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        520,
        -80
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Issue search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Top ranking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Issue search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "errorWorkflow": "G8zsc6ebrw5ZZBiz"
  }
}
