workflows/leverage-copilot-workflow.json
{
  "id": "XtV6NerjQnYPtXgz",
  "name": "Leverage Copilot \u2014 ask the backlog",
  "nodes": [
    {
      "parameters": {
        "content": "## Leverage Copilot\n\nChat with the **live n8n backlog**. Vector search (issues + PRs) + ranking tables + **comment deep-dive**.\n\n**Demo:**\n- Why is #14361 ranked first?\n- Deep dive #14361 \u2014 what are maintainers saying?\n- What MCP issues hurt most?\n- code_scout: McpTrigger",
        "height": 260,
        "width": 480,
        "color": 4
      },
      "id": "93928648-017b-4b63-9aa1-f31f76f6d73c",
      "name": "About",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        340,
        -300
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "bafffedf-528b-4b61-963f-61b25c394372",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "af0e64c2-598e-45f2-b430-318285d3b4e4"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the n8n Community Leverage Copilot \u2014 an assistant for maintainers and contributors triaging the n8n-io/n8n open backlog.\n\nYou have tools:\n1. **issue_search** \u2014 semantic search across ~440 open issues + top community PRs.\n2. **top_ranking** \u2014 live top-25 issues by leverage (daily 08:00 Europe/Paris).\n3. **top_prs** \u2014 top community PRs to review first.\n4. **fetch_comments** \u2014 read the comment thread on a specific issue (pass issue number).\n5. **issue_deep_dive** \u2014 synthesize thread + propose contributor approach (pass issue number).\n6. **issue_pr_linker** \u2014 find open PRs mentioning an issue (pass issue number).\n7. **code_scout** \u2014 search n8n-io/n8n codebase for file paths (read-only, pass search terms).\n\nWhen answering:\n- Cite GitHub issue/PR numbers and URLs (/issues/ vs /pull/).\n- Mention leverage when relevant.\n- For contributor questions, use issue_deep_dive on the top issue.\n- Top pain theme: **AI Agent / tool / memory** (e.g. #14361).\n- Be concise. Bullet points for lists.\n\nIf vector index was cleared, tell user to run \"Leverage \u2014 index bootstrap\" once."
        }
      },
      "id": "55abee6c-61f3-452d-a23a-06a0bbafdf5b",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.3,
      "position": [
        280,
        0
      ]
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 8
      },
      "id": "ec2751d5-1670-485e-a536-cdf39efd65b6",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        200
      ]
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "4a20440a-21db-4333-9a01-0f3fb44bd329",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        200
      ],
      "credentials": {
        "ollamaApi": {
          "id": "vusS7V4DCAGU85B6",
          "name": "Ollama (docker bridge)"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest",
        "options": {}
      },
      "id": "bd519aaf-80c6-498e-a039-d95afbfbe560",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        760,
        320
      ],
      "credentials": {
        "ollamaApi": {
          "id": "vusS7V4DCAGU85B6",
          "name": "Ollama (docker bridge)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "issue_search",
        "toolDescription": "Semantic search over n8n open issues and top community PRs.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "leverage_issues"
        },
        "topK": 8
      },
      "id": "da108de1-292f-4197-97a7-1b84d196f187",
      "name": "Issue search",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        760,
        120
      ]
    },
    {
      "parameters": {
        "name": "top_ranking",
        "description": "Get top-25 issues by leverage.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "s2bX3oDLRPUamt0M"
        }
      },
      "id": "d264772f-44dc-43f6-8014-77c32baa8eed",
      "name": "Top Ranking",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        520,
        -200
      ]
    },
    {
      "parameters": {
        "name": "top_prs",
        "description": "Get top community PRs to review.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "ErItT8BHutyTa0rf"
        }
      },
      "id": "6d30a8c9-d674-4f74-ae96-8d23d8db7f5a",
      "name": "Top Prs",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        520,
        -120
      ]
    },
    {
      "parameters": {
        "name": "fetch_comments",
        "description": "Fetch comment thread for a GitHub issue number.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "8vGd2e5vuyAi0u0V"
        }
      },
      "id": "8b351932-a4f1-42fd-a0c1-6ff4c4ddadc9",
      "name": "Fetch Comments",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        520,
        -40
      ]
    },
    {
      "parameters": {
        "name": "issue_deep_dive",
        "description": "Deep dive: summarize issue thread and propose contributor approach.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "KjC9Bq8HnsxwyRpg"
        }
      },
      "id": "5639a774-3ded-4812-b2fe-89669c597feb",
      "name": "Issue Deep Dive",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        520,
        40
      ]
    },
    {
      "parameters": {
        "name": "issue_pr_linker",
        "description": "Find open PRs linked to an issue number.",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "wzKasDRdfp8VgUI7"
        }
      },
      "id": "945d9adb-c1b4-4cc6-8c47-a0f92830f758",
      "name": "Issue Pr Linker",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        520,
        120
      ]
    },
    {
      "parameters": {
        "name": "code_scout",
        "description": "Search n8n codebase for file paths (read-only).",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "hnt00MJVcSNedoZf"
        }
      },
      "id": "b6fee466-9e3f-430a-8fd1-1545e716f54e",
      "name": "Code Scout",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        520,
        200
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Issue search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Issue search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Top Ranking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Top Prs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Comments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Issue Deep Dive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Issue Pr Linker": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code Scout": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "errorWorkflow": "G8zsc6ebrw5ZZBiz"
  }
}
