workflows/leverage-deep-dive-workflow.json
{
  "id": "KjC9Bq8HnsxwyRpg",
  "name": "Leverage \u2014 issue deep dive tool",
  "nodes": [
    {
      "parameters": {},
      "id": "d4f56595-1130-49bc-8b36-323c0d792640",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst text = String(raw.query ?? raw.chatInput ?? raw.issue_number ?? raw.input ?? '').trim();\nconst m = text.match(/#?(\\d{3,6})/);\nif (!m) {\n  return [{ json: { issueNumber: null, response: 'Provide an issue number (e.g. 14361 or #14361).' } }];\n}\nreturn [{ json: { issueNumber: parseInt(m[1], 10) } }];"
      },
      "id": "5e4ee7cf-0ebb-4d7b-aac8-20280fd36b7d",
      "name": "Parse input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse input').first().json;\nif (!parsed.issueNumber) {\n  return [{ json: { response: parsed.response } }];\n}\nconst issueNumber = parsed.issueNumber;\nconst issue = await this.helpers.httpRequestWithAuthentication.call(this, 'githubApi', {\n  method: 'GET',\n  url: `https://api.github.com/repos/n8n-io/n8n/issues/${issueNumber}`,\n  json: true,\n});\nconst commentsRaw = await this.helpers.httpRequestWithAuthentication.call(this, 'githubApi', {\n  method: 'GET',\n  url: `https://api.github.com/repos/n8n-io/n8n/issues/${issueNumber}/comments?per_page=100`,\n  json: true,\n});\nreturn [{ json: { issueNumber, issue, comments: Array.isArray(commentsRaw) ? commentsRaw : [] } }];"
      },
      "id": "23b50ce7-b50e-4a31-ab88-02d942f33ad2",
      "name": "Fetch thread",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const data = $('Fetch thread').first().json;\nif (data.response) {\n  return [{ json: { response: data.response } }];\n}\nconst { issueNumber, issue, comments: commentsRaw } = data;\nconst skip = new Set(['dependabot[bot]', 'n8n-io[bot]', 'github-actions[bot]']);\nconst comments = commentsRaw.filter((c) => c.body && !skip.has(c.user?.login)).slice(0, 30);\nconst thread = comments.map((c) =>\n  `@${c.user?.login} (${c.author_association}): ${(c.body || '').replace(/\\s+/g, ' ').slice(0, 500)}`\n).join('\\n');\nconst labels = (issue.labels || []).map((l) => l.name).join(', ');\nconst mcpHint = /\\bmcp\\b/i.test((issue.title || '') + (issue.body || ''))\n  ? 'Verified MCP entry points: packages/@n8n/nodes-langchain/nodes/mcp/McpTrigger/McpTrigger.node.ts and McpServer.ts. Compare Webhook.node.ts for request metadata exposure.'\n  : '';\nconst synthPrompt = `You are a senior n8n maintainer. Summarize this GitHub issue thread for a contributor.\n\nIssue #${issueNumber}: ${issue.title}\nLabels: ${labels}\nBody: ${(issue.body || '').slice(0, 800)}\n\nComments (${comments.length}):\n${thread}\n\nWrite Markdown with EXACTLY:\n## Thread summary\n## Maintainer signals\n\nBe factual. Under 200 words.`;\nconst synth = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://10.0.0.4:11434/api/generate',\n  body: { model: 'llama3.2:3b', prompt: synthPrompt, stream: false, options: { temperature: 0.2, num_ctx: 8192 } },\n  json: true,\n});\nconst proposePrompt = `Based on this issue synthesis, propose a contributor approach for n8n (Node.js/TypeScript workflow automation).\n\n${synth.response}\n${mcpHint ? '\\nKnown code entry points:\\n' + mcpHint : ''}\n\nWrite Markdown with EXACTLY:\n## Proposed approach\n## Scope (S/M/L)\n## Good first issue (yes/no)\n## Risks\n\nHypotheses only \u2014 admit uncertainty. Under 200 words.`;\nconst prop = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'http://10.0.0.4:11434/api/generate',\n  body: { model: 'llama3.2:3b', prompt: proposePrompt, stream: false, options: { temperature: 0.2, num_ctx: 8192 } },\n  json: true,\n});\nconst url = issue.html_url || `https://github.com/n8n-io/n8n/issues/${issueNumber}`;\nreturn [{\n  json: {\n    response: `# Deep dive #${issueNumber}\\n\\n${url}\\n\\n${synth.response}\\n\\n---\\n\\n${prop.response}`,\n  },\n}];"
      },
      "id": "06a86287-3d5c-4017-b220-6bd8f24ea45b",
      "name": "Synthesize and propose",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse input": {
      "main": [
        [
          {
            "node": "Fetch thread",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch thread": {
      "main": [
        [
          {
            "node": "Synthesize and propose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
