workflows/leverage-copilot-workflow.json
{
  "id": "XtV6NerjQnYPtXgz",
  "name": "Leverage Copilot \u2014 ask the backlog",
  "nodes": [
    {
      "parameters": {
        "content": "## Leverage Copilot\n\nChat with the **live n8n backlog**. Vector search (issues + PRs) + ranking tables + **comment deep-dive**.\n\n**Auth:** Set `LEVERAGE_COPILOT_SECRET` env var and pass as `x-leverage-secret` header. Unset = open access (dev only).\n\n**Demo:**\n- Why is #14361 ranked first?\n- Deep dive #14361 \u2014 what are maintainers saying?\n- What MCP issues hurt most?\n- code_scout: McpTrigger",
        "height": 260,
        "width": 480,
        "color": 4
      },
      "id": "db25aac0-6121-4cdf-9efe-a977b4cc9c3e",
      "name": "About",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        340,
        -300
      ]
    },
    {
      "parameters": {
        "options": {
          "httpMethods": "POST"
        }
      },
      "id": "3ebf2174-1c9e-48c2-81ac-ca39b6e895b5",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "af0e64c2-598e-45f2-b430-318285d3b4e4"
    },
    {
      "parameters": {
        "jsCode": "const secret = $env.LEVERAGE_COPILOT_SECRET;\nif (secret) {\n  const header = $getWebhookHeader('x-leverage-secret') ?? '';\n  if (header !== secret) throw new Error('Unauthorized: missing or invalid x-leverage-secret header');\n}\nreturn $json;"
      },
      "id": "check-auth-0000-0000-000000000000",
      "name": "Check Auth",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        140,
        0
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the n8n Community Leverage Copilot \u2014 an assistant for maintainers and contributors triaging the n8n-io/n8n open backlog.\n\nYou have tools:\n1. **issue_search** \u2014 semantic search across ~440 open issues + top community PRs.\n2. **top_ranking** \u2014 live top-25 issues by leverage (daily 08:00 Europe/Paris).\n3. **top_prs** \u2014 top community PRs to review first.\n4. **fetch_comments** \u2014 read the comment thread on a specific issue (pass issue number).\n5. **issue_deep_dive** \u2014 synthesize thread + propose contributor approach (pass issue number).\n6. **issue_pr_linker** \u2014 find open PRs mentioning an issue (pass issue number).\n7. **code_scout** \u2014 search n8n-io/n8n codebase for file paths (read-only, pass search terms).\n\nWhen answering:\n- Cite GitHub issue/PR numbers and URLs (/issues/ vs /pull/).\n- Mention leverage when relevant.\n- For contributor questions, use issue_deep_dive on the top issue.\n- Top pain theme: **AI Agent / tool / memory** (e.g. #14361).\n- Be concise. Bullet points for lists.\n\nIf vector index was cleared, tell user to run \"Leverage \u2014 index bootstrap\" once."
        }
      },
      "id": "9481c168-137c-419b-aa6f-975f7ada481d",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.3,
      "position": [
        280,
        0
      ]
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 8
      },
      "id": "0d424227-faa4-4f63-b386-30bc0244da60",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        280,
        200
      ]
    },
    {
      "parameters": {
        "model": "llama3.2:3b",
        "options": {
          "temperature": 0.2
        }
      },
      "id": "5db8b2c2-c768-422e-8bd7-7c79f5b556b5",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        80,
        200
      ],
      "credentials": {
        "ollamaApi": {
          "id": "",
          "name": "Ollama (docker bridge)"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest",
        "options": {}
      },
      "id": "9c868e4c-82f0-4d8a-ad27-d409d6ebecda",
      "name": "Embeddings Ollama",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        760,
        320
      ],
      "credentials": {
        "ollamaApi": {
          "id": "",
          "name": "Ollama (docker bridge)"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "issue_search",
        "toolDescription": "Semantic search over n8n open issues and top community PRs.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "leverage_issues"
        },
        "topK": 8
      },
      "id": "6ab4bf91-d5b9-40ea-8b08-d6ef017a1fdf",
      "name": "Issue search",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.2,
      "position": [
        760,
        120
      ]
    },
    {
      "parameters": {
        "description": "Get top-25 issues by leverage score.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "s2bX3oDLRPUamt0M"
        }
      },
      "id": "019ecf01-dcfa-4e00-8bb9-181e52557b7f",
      "name": "top_ranking",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        520,
        -200
      ]
    },
    {
      "parameters": {
        "description": "Get top community PRs to review first.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "ErItT8BHutyTa0rf"
        }
      },
      "id": "e7913b6e-3a71-4205-9b44-c1f091dd438e",
      "name": "top_prs",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        520,
        -120
      ]
    },
    {
      "parameters": {
        "description": "Fetch the comment thread for a GitHub issue number.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "8vGd2e5vuyAi0u0V"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "issue_number": "={ $fromAI('issue_number', 'GitHub issue number, e.g. 14361', 'number') }"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "issue_number",
              "displayName": "issue_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ]
        }
      },
      "id": "f0863a85-573e-45b7-adec-d2c10ca3e8cb",
      "name": "fetch_comments",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        520,
        -40
      ]
    },
    {
      "parameters": {
        "description": "Deep dive: summarize issue thread and propose contributor approach.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "KjC9Bq8HnsxwyRpg"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "issue_number": "={ $fromAI('issue_number', 'GitHub issue number to analyze', 'number') }"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "issue_number",
              "displayName": "issue_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ]
        }
      },
      "id": "95221575-4a2d-41df-9601-f52dea88d162",
      "name": "issue_deep_dive",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        520,
        40
      ]
    },
    {
      "parameters": {
        "description": "Find open PRs that mention or link to an issue number.",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "wzKasDRdfp8VgUI7"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "issue_number": "={ $fromAI('issue_number', 'GitHub issue number to find linked PRs', 'number') }"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "issue_number",
              "displayName": "issue_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            }
          ]
        }
      },
      "id": "b62773f3-89b1-49a0-b869-553b4b3dcc2b",
      "name": "issue_pr_linker",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        520,
        120
      ]
    },
    {
      "parameters": {
        "description": "Search n8n-io/n8n codebase for file paths (read-only).",
        "source": "database",
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "hnt00MJVcSNedoZf"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "search_query": "={ $fromAI('search_query', 'Code search terms, e.g. McpTrigger', 'string') }"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "search_query",
              "displayName": "search_query",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ]
        }
      },
      "id": "7cde6878-9af5-4dab-ab80-1b2074119229",
      "name": "code_scout",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        520,
        200
      ]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Check Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Auth": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Issue search": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Issue search",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "top_ranking": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "top_prs": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "fetch_comments": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "issue_deep_dive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "issue_pr_linker": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "code_scout": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v2",
    "timezone": "Europe/Paris",
    "errorWorkflow": "G8zsc6ebrw5ZZBiz",
    "binaryMode": "separate"
  }
}