workflows/leverage-workflow.json
{
  "id": "LvgRank0000000001",
  "name": "n8n Community Leverage \u2014 ranking",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "id": "a1111111-1111-4111-8111-111111111111",
      "name": "Every morning",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// Leverage = reach x severity x recency. Mirrors the companion TS tool.\nconst NOW = Date.now();\nconst DAY = 86400000;\nconst scoredAt = new Date(NOW).toISOString();\n\n// GitHub /issues returns arrays (one per paginated page); flatten whatever n8n handed us.\nconst raw = [];\nfor (const it of $input.all()) {\n  const j = it.json;\n  if (Array.isArray(j)) raw.push(...j);\n  else if (j && j.number) raw.push(j);\n  else if (j && Array.isArray(j.data)) raw.push(...j.data);\n}\n\nconst severity = (labels) => {\n  const has = (s) => labels.some((l) => (l.name || '').toLowerCase().includes(s));\n  if (has('bug') || has('crash') || has('regression')) return 3.0;\n  if (has('node/issue') || has('security')) return 2.5;\n  if (has('node/improvement') || has('enhancement') || has('feature')) return 1.6;\n  if (has('question') || has('docs') || has('documentation')) return 0.8;\n  return 1.4;\n};\n\nconst scored = raw\n  .filter((x) => x && x.number && !x.pull_request)\n  .map((x) => {\n    const labels = x.labels || [];\n    const reactions = (x.reactions && x.reactions.total_count) || 0;\n    const comments = x.comments || 0;\n    const idleDays = Math.max(0, (NOW - Date.parse(x.updated_at)) / DAY);\n    const ageDays = Math.max(0, (NOW - Date.parse(x.created_at)) / DAY);\n    const reach = 1 + 2 * Math.log1p(reactions) + Math.log1p(comments);\n    const recency = Math.exp(-idleDays / 60);\n    const sev = severity(labels);\n    const leverage = +(reach * sev * recency).toFixed(2);\n    const churnRisk = +(reach * sev * Math.log1p(ageDays) * Math.min(1, idleDays / 30)).toFixed(2);\n    return {\n      number: x.number,\n      title: x.title,\n      url: x.html_url,\n      reactions,\n      comments,\n      ageDays: Math.round(ageDays),\n      idleDays: Math.round(idleDays),\n      leverage,\n      churnRisk,\n      scoredAt,\n    };\n  });\n\nscored.sort((a, b) => b.leverage - a.leverage);\nreturn scored.slice(0, 25).map((s) => ({ json: s }));"
      },
      "id": "c3333333-3333-4333-8333-333333333333",
      "name": "Leverage score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ]
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "mode": "id",
          "value": "DCl7YFpc6jt8BUoV",
          "cachedResultName": "leverage_ranking"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "number",
              "keyValue": "={{ $json.number }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "number"
          ],
          "value": {
            "number": "={{ $json.number }}",
            "title": "={{ $json.title }}",
            "url": "={{ $json.url }}",
            "reactions": "={{ $json.reactions }}",
            "comments": "={{ $json.comments }}",
            "ageDays": "={{ $json.ageDays }}",
            "idleDays": "={{ $json.idleDays }}",
            "leverage": "={{ $json.leverage }}",
            "churnRisk": "={{ $json.churnRisk }}",
            "scoredAt": "={{ $json.scoredAt }}"
          }
        },
        "options": {}
      },
      "id": "d4444444-4444-4444-8444-444444444444",
      "name": "Save ranking",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        304,
        0
      ]
    },
    {
      "parameters": {
        "content": "## \ud83c\udfaf Community Leverage \u2014 daily backlog ranking\n\nRanks the **entire open n8n issue backlog** by *leverage* \u2014 where a maintainer's next hour helps the most people \u2014 instead of by date or raw \ud83d\udc4d.\n\nEvery morning **08:00 Europe/Paris** \u2192 scores every open issue \u2192 upserts the **top 25** into the `leverage_ranking` Data Table.",
        "height": 268,
        "width": 460,
        "color": 4
      },
      "id": "5b078c6a-ced5-47a0-8704-6358feccfcc8",
      "name": "About",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        -368
      ]
    },
    {
      "parameters": {
        "content": "### Leverage = reach \u00d7 severity \u00d7 recency\n\n```\nreach    = 1 + 2\u00b7ln(1+\ud83d\udc4d) + ln(1+comments)   // log-compressed: no single viral thread dominates\nseverity = label weight (bug 3.0 \u2192 docs 0.8)\nrecency  = exp(-idleDays / 60)               // decay toward still-live issues\n```\n\nAlso emits **churnRisk** \u2014 the deliberate inverse: old + popular + ignored = goodwill quietly bleeding.",
        "height": 240,
        "width": 520,
        "color": 5
      },
      "id": "193caf6c-0d06-438f-9364-31d97afae0d8",
      "name": "The formula",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -400,
        192
      ]
    },
    {
      "parameters": {
        "content": "### Built to run unattended\n\n- Native **GitHub node**, Return-All \u2014 cursor pagination over the whole open backlog\n- **Retry \u00d73** on transient API failures\n- **Idempotent**: Data Table upsert keyed on issue `number`\n- On any failure \u2192 a dedicated **Error Trigger** workflow pushes a Discord alert",
        "height": 236,
        "width": 380,
        "color": 3
      },
      "id": "5afe7458-8c48-463b-810d-376ca63b0e56",
      "name": "Robustness",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -336
      ]
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "getIssues",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "n8n-io",
          "cachedResultName": "n8n-io"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "n8n",
          "cachedResultName": "n8n"
        },
        "returnAll": true,
        "getRepositoryIssuesFilters": {
          "state": "open",
          "sort": "created",
          "direction": "asc"
        }
      },
      "id": "355c41d4-20c9-4748-8b87-5a57dec34ebc",
      "name": "GitHub: open issues",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -140,
        0
      ],
      "credentials": {
        "githubApi": {
          "id": "REPLACE_ME",
          "name": "GitHub (guillaume-flambard)"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "onError": "stopWorkflow"
    }
  ],
  "connections": {
    "Leverage score": {
      "main": [
        [
          {
            "node": "Save ranking",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every morning": {
      "main": [
        [
          {
            "node": "GitHub: open issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub: open issues": {
      "main": [
        [
          {
            "node": "Leverage score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "errorWorkflow": "G8zsc6ebrw5ZZBiz"
  },
  "meta": null
}
