workflows/leverage-code-scout-workflow.json
{
  "id": "hnt00MJVcSNedoZf",
  "name": "Leverage \u2014 code scout tool",
  "nodes": [
    {
      "parameters": {},
      "id": "55a946d7-3638-43a6-aa9f-fc4662e04a53",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst text = String(raw.query ?? raw.chatInput ?? raw.search ?? '').trim();\nif (!text || text.length < 3) {\n  return [{ json: { search: null, response: 'Provide a search term (e.g. McpTrigger or AI Agent memory).' } }];\n}\nreturn [{ json: { search: text.slice(0, 120) } }];"
      },
      "id": "4eb6f1f8-cb97-42dc-a9ee-52dde487a35b",
      "name": "Parse search",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parse search').first().json;\nif (!parsed.search) {\n  return [{ json: { response: parsed.response || 'Provide a search term (e.g. McpTrigger).' } }];\n}\nconst search = parsed.search;\nconst q = `repo:n8n-io/n8n ${search}`;\nconst res = await this.helpers.httpRequestWithAuthentication.call(this, 'githubApi', {\n  method: 'GET',\n  url: `https://api.github.com/search/code?q=${encodeURIComponent(q)}&per_page=10`,\n  json: true,\n});\nconst items = (res.items || []).filter((x) => x.path);\nif (!items.length) {\n  return [{ json: { response: `No code matches for \"${search}\" in n8n-io/n8n.` } }];\n}\nconst md = items.slice(0, 8).map((f) => {\n  const url = f.html_url || `https://github.com/n8n-io/n8n/blob/master/${f.path}`;\n  return `\u2022 ${f.path} \u2014 ${url}`;\n}).join('\\n');\nreturn [{\n  json: {\n    response: `Code scout (read-only) for \"${search}\" in n8n-io/n8n:\\n\\n${md}\\n\\n_Use these paths as hypotheses \u2014 verify before patching._`,\n  },\n}];"
      },
      "id": "9866fd12-9030-4597-b052-3c0c639c850c",
      "name": "Search code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        0
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse search": {
      "main": [
        [
          {
            "node": "Search code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
